/config_demo.env
/config_dev.env
/config_ttos.env
/config_local.env
/backups/
/var/
/__pycache__/
/.idea/
.*
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
script.sql
populate_field_registry.py
*.json
alembic.ini
settings.csv
pyproject.toml
pfotenregister.code-workspace
uv.lock
uv.lock
